[2015-11-19 16:02] fsmaia opened #1 "Globally installed JSHint is not supported"
Extension setup fails when JSHint is not installed locally (but is installed globally) in project. Its implementation probably lacks global NPM lookup.

[2015-11-19 16:59] #1 closed

[2015-11-19 21:05] gregvanl opened #2 "Gallery banner is too dark"
Who turned out the lights?
The gallery banner for the JSHint Marketplace page is very dark and it is difficult to read the text.

[2015-11-20 16:40] dbaeumer commented on #2
@gregvanl I followed your advice with the icon and the color. It is right now:

[code]
Any advice

[2015-11-20 16:53] mikkotikkanen commented on #2
still dark to me. +1

[2015-11-20 17:04] mikkotikkanen opened #3 ""Failed to load jshint library""
Installation goes through successfully but after restarting I just get a error message:

`Failed to load jshint library. Please install jshint in your workspace folder using 'npm install jshint' and then press Retry.`

Runnning `npm install jshint` in extensions directory seems to fix this.

[2015-11-20 19:05] gregvanl commented on #2
I think you need to set the gallerybanner theme to dark to get light text.

	"galleryBanner": {
		"color": "#5c2d91",
		"theme": "dark"
         }

[2015-11-21 16:59] replete commented on #3
i++;

[2015-11-23 02:30] zachlysobey commented on #3
This is a bit confusing to me; I too get this message, and was thinking that it's because I don't have `jshint` installed (directly) at the *project* level. (In my project, I get `jshint` *transitively* through `gulp-jshint`.

Are you saying it's fixed if I add it in the extension directory? I tried that in `/Applications/Visual Studio Code.app/Contents/Resources/app/extensions`, but am still gett

[2015-11-23 11:47] dbaeumer opened #4 "JSON schema support for .jshintrc"
_From @scottaddie on November 22, 2015 4:23_

Prior to the 0.10.1 release, the following	settings were baked into the editor:

[code]

Now that there's an official [JSHint extension](https://marketplace.visualstudio.com/items/dbaeumer.jshint), the following schema support should be added by it rather than including it into the editor:

[code]

I'd argue the same point regarding the [JSCS extension

[2015-11-23 12:48] dbaeumer commented on #4
Depends on https://github.com/Microsoft/vscode/issues/489

[2015-11-24 08:08] dbaeumer commented on #3
@zachlysobey the idea is that most devs that want to make use of jshint already have it installed. So we don't ship with a version. Instead we try to load it from the node_modules folder in the workspace folder (the folder open in VSCode) or the globally installed one. But I see the problem if jshint comes transitively through gulp-jshint. For now you can work around this by installing jshint glob

[2015-11-24 08:42] dbaeumer commented on #2
Made the suggested changes and re-published the extension.

[2015-11-24 08:42] #2 closed

[2015-11-24 14:51] zachlysobey commented on #3
Thanks @dbaeumer, eep up the good work!

[2015-11-24 20:05] riclf commented on #3
I'm not sure I understand why it is not following the VS Code extensions norm of loading from the home extension folder, at -
    Windows %USERPROFILE%\.vscode\extensions
    Mac $HOME/.vscode/extensions
    Linux $HOME/.vscode/extensions

Is that the ultimate intention ?  Thx.

[2015-11-25 15:10] janpieterz opened #5 "Navigating from and to a file stacks the errors instead of overwriting the same error."
When navigating from and to a file (without opening it in working files) the errors stack, as shown in the screenshot below.

This behavior isn't present when the file is in working files, only when browsing in and out (taking a peek).

![image](https://cloud.githubusercontent.com/assets/383634/11400691/1550929e-938f-11e5-8838-3916e7870e0a.png)

[2015-11-30 09:37] dbaeumer commented on #5
This issue was moved to Microsoft/vscode#814

[2015-11-30 09:37] #5 closed

[2015-11-30 17:57] fsmaia opened #7 "Add support to external .jshintrc file"
As in "jscs.preset", it would be nice to have support for a external .jshintrc file. I see that putting the file directly in project is widely recommended, but there are some scenarios in which .jshintrc must be apart. I thought that this feature was covered by "extend" inside "jshint.options" but doesn't seem to work.

[2015-12-09 11:50] cfjedimaster opened #8 "Documentation for how to use compared to 'built in' linting"
This may fall into the main VSCode area and not this extension, but I think it needs explaining.

So - before VSC adding extensions, I had used a few properties in my user prefs to define how I wanted linting done. So I currently have this:

"javascript.validate.lint.comparisonOperatorsNotStrict": "error",
	"javascript.validate.lint.missingSemicolon": "error",
	"javascript.validate.lint.unusedVari

[2015-12-09 11:53] cfjedimaster commented on #8
Ok, so I apologize - I see on this page: https://code.visualstudio.com/docs/languages/javascript#_javascript-linters-eslint-jshint

that they now tell you how to disable the built in linter. I think the docs for the jshint extension should repeat this, just to make it obvious.

However - I still can't get my options to work.

[2015-12-09 11:55] cfjedimaster commented on #8
Using a .jshintrc in my project made it work - but the options thing should have set an editor wide default, right?

[2015-12-09 11:58] cfjedimaster commented on #8
And another related issue. I had x==y and VSC did not report the issue even though eqeqeq should be true by default. It only reported it when I added it to my .jshintrc. Are defaults not being picked up?

[2015-12-09 14:48] egamma commented on #8
@gregvanl can you please cover this in the docs:

[2015-12-14 13:10] janpieterz opened #10 "Support different file extensions"
Currently the extension only works on js files and I don't see an option nor get it enabled for jsx files.
Since jshint doesn't support file extensions this out of the box (like jscs does), extensions on other editors have implemented this functionality themselves.

It would be great if the configuration could support setting custom file extensions to enable working in .ts, .tsx, .jsx and other po

[2015-12-14 20:01] dbaeumer commented on #4
Done

[2015-12-14 20:01] #4 closed

[2015-12-20 01:43] HookyQR commented on #8
@cfjedimaster jshint options are all off(or **false**) by default. If you want to see what an option does when turned on (note that turning some of them on makes it *stop* doing something) checkout the [JSHint Options](http://jshint.com/docs/options/) page.

[2015-12-20 04:24] cfjedimaster commented on #8
Ok, fair enough. I thought JSHint had default options, but I'm not seeing
documentation (on their side) to back that up.

On Sat, Dec 19, 2015 at 7:43 PM, HookyQR <notifications@github.com> wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twi

[2016-01-25 14:38] dbaeumer opened #12 "Support source attibute on Diagnostic"

[2016-01-25 16:18] #12 closed

[2016-02-10 13:57] artursmirnov opened #13 "Support nested jshint configurations"
My application has main `.jshintrc` configuration in root folder, which works just fine. But for tests there is another configuration located at `tests/.jshintrc` that has a lot of `predef`s for test helpers. And the extension ignores tests configuration and applies the main one.

The case is common for most Ember CLI apps.

[2016-02-27 20:00] jaysylvester commented on #13
I have a project-level `.jshintrc` file and then a couple more sprinkled throughout that extend the project config. The project config handles basic formatting that I want to apply to all JS files, and the nested files handle different parts of the app (node.js server-side vs front end static library, which have different `browser`, `node`, and `predef` settings).

This workflow works in other edi

[2016-03-03 03:47] smorhaim commented on #7
+1

Atom and others support reading the rc file in the project.

[2016-03-03 04:26] g-adolph opened #14 "How to ignore some folders"
How can i ignore folders like `node_modules` and `bower_components` from my jshint check?

we can use something like jsconfig.json exclude paths. Is a bad idea?

[2016-03-04 22:25] appeality opened #15 "jshint does not recognize typings (.tsd) configurations for node"
When using node in VS Code, jshint does not recognize the built in Node types/funcs, such as __dir name, require, etc. This results in erroneous linting errors. Note that VS Code does not recognize these types until the node tsd files are added to a project.

Is there a workaround for this?

[2016-03-08 23:56] marioestrada commented on #7
Have you tried using:

[code]

[2016-03-09 21:22] jsnjack opened #16 "Failed to load jshint library"
I have just updated to the version 0.10.10. When I open javascript file, I got an error that says "Failed to load jshint library. Please install it...". I have jshint package installed globally with command `npm install -g jshint`. My output from terminal:

[code]

I'm on Fedora 23, jshint 2.9.1, vscode 0.10.10, jshint extension has version 0.10.6

[2016-03-10 11:14] tbuschto opened #17 "Can not install extension anymore"
I had some strange VSCode behavior, so I re-installed everything. Now I can't install the jshint extension anymore. This is what I do:

`ext install jshint` -> "'jshint' was successfully installed. Restart to enable it."

After the restart:
`ext` -> Lists installed extensions, does not include jshint

Other extensions install fine (e.g. PowerShell). I have the global npm jshint module installed.

[2016-03-15 17:43] Jedarc commented on #3
+1

[2016-03-15 21:06] fsmaia commented on #7
It works @marioestrada! Big thanks!

[2016-03-15 21:10] #7 closed

[2016-03-22 15:55] zaus commented on #3
I installed jshint/eslint globally via the "Node.js command prompt" (Start > Node), which seems to have put it in  "%appdata%\npm\node_modules\eslint", but I still got this message; restarting a couple of times and it seems to have gone away?

[2016-03-29 05:02] jamesxv7 opened #18 "The esversion 6 option in the jshint options is not working"
Hello, when I try to setup the options of Jshint in the User Settings the editor does not recognize  es version selected.
[code]

[2016-03-31 08:39] egamma opened #19 "Clarify documentation on the config options"
jshint.options: an option bag as defined by the JSHint API here. Defaults to an empty option bag.

I suggest that the guidance is that the jshint.options is used to configure how to options for starting jshint through the CLI. Users should use the .jshintrc for defining jshint options.

[2016-04-19 22:37] kieferrm commented on #19
The doc clearly needs to be more explicit. However, the current behavior is a natural extension of how the jshint cli behaves (http://jshint.com/docs/cli/)

The extension is doing the following:

1. The location specified in jshint.options.config
2. A file named package.json located in the current directory or any parent of the current directory (the configuration should be declared as the jshintC

[2016-04-20 18:40] kieferrm commented on #18
When you run jshint on the command line with the same options you get:
`xyz.js: line 0, col 0, Incompatible values for the 'esversion' and 'esnext' linting options. (0% scanned).`

That problem was fixed with [this commit](https://github.com/Microsoft/vscode-jshint/commit/9747a7df5299ca01e9c577dae7bf71f5b4b8c9b9) several months ago but not yet published to the marked place. I'll do that shortly.

[2016-04-20 18:40] #18 closed

[2016-04-20 19:11] edwin177 commented on #13
+1

[2016-04-21 08:29] rkhat commented on #15
Add `"node": true` as a jshint option

[2016-04-22 15:37] #19 closed

[2016-04-22 15:47] kieferrm commented on #17
@tbuschto Pls try the following:
1. close vscode
2. go to your home directory
3. go into .vscode/extensions
4. completely delete dbaeumer.jshint-0.10.x
5. restart vscode
6. install jshint extension

I'm guessing that the installation process had an issue. Or there were leftovers from a previous uninstall of the extension and thus the install assumed the extension was already installed. Either way

[2016-04-22 15:47] #17 closed

[2016-04-22 23:18] #10 closed

[2016-04-22 23:24] kieferrm opened #22 "Support .jshintignore files"
We should respect .jshintignore files as described in http://jshint.com/docs/cli/

[2016-04-22 23:28] kieferrm opened #23 "Support jshint.excludePath to mimic jshint cli behavior"
Support `jshint.excludePath` to mimic the jshint command line.

[2016-04-22 23:32] kieferrm commented on #14
With bd489b92daf1d3d747dcd21128ca0cb88715bae3 you can now specify files and folders in the user or in the workspace settings that should be ignored by jshint. I created #22 and #23 to cover the full scope of jshint exclude support.

[2016-04-22 23:32] #14 closed

[2016-04-22 23:35] kieferrm commented on #15
@appeality @rkhat's should solve your 'erroneous listing errors' issues.

[2016-04-22 23:35] #15 closed

[2016-04-23 00:00] #8 closed

[2016-04-24 14:57] kieferrm opened #24 "Support 'extends' in package.json jshintConfig"
.jshinttc files can contain 'extends' attributes to chain together .jshintrc files. It should be possible to use a package.json's jshintConfig to extends a .jshintrc file.

[2016-04-24 15:18] kieferrm opened #25 "Annoying error messages when using autosave"
When editing a jshint config file and having enabled autosave you get annoying error messages about syntax errors in the config file when you briefly pause typing. This is because the server gets a configchanged notification as soon as the autosave kicks in.

[2016-04-24 15:21] kieferrm opened #26 "'extends' and 'exclude' should show up in .jshintrc intellisense"
Use intellisense in .jshintrc. There are no proposals for 'extends' or 'exclude'.

[2016-04-24 15:34] #13 closed

[2016-04-26 05:17] kieferrm commented on #22
Started development in https://github.com/Microsoft/vscode-jshint/tree/feature/jshintignore.

[2016-04-27 22:49] kieferrm opened #27 "Return empty diagnostics when file is excluded"
Currently we remove `null` which is bogus.

1) open a js file with jshint warnings\errors
2) exclude the file using the workspace settings
3) reopen the file from step 1
-> old warnings are still there although the file is excluded

[2016-04-27 22:51] kieferrm opened #28 "Exclude patterns should be workspace relative"
In the user and workspace settings the exclude patterns should be interpreted relative to the workspace root (if there is a workspace). Need to clarify what happens if there is no workspace.

[2016-04-29 01:02] #27 closed

[2016-04-29 02:03] #28 closed

[2016-05-02 22:10] vsccarl opened #29 "Closing HTML tag shows "unclosed regular expression" error"
Code Version: 1.1.0-alpha
Windows 10

When returning HTML code inside a class (using React Native) shows a jshint error that should be valid.

![jshinterrorhtml](https://cloud.githubusercontent.com/assets/12900364/14969544/cb78efde-1077-11e6-9abc-b834a6a2a24c.png)

[2016-05-03 20:44] jsnjack commented on #16
It didn't work because of the bad npm configuration in my system. `npm config get prefix` returned `/usr/local/`, however all node modules were installed with `/usr` prefix

[2016-05-04 01:54] kieferrm commented on #23
Closed with https://github.com/Microsoft/vscode-jshint/commit/35da0beec42451e54237adbeb9618da43f5f0965

[2016-05-04 01:54] #23 closed

[2016-05-04 01:54] kieferrm commented on #22
Closed with https://github.com/Microsoft/vscode-jshint/commit/49b92580dbb728b36e8613834d74b98068f9a247.

[2016-05-04 03:36] epsitec opened #30 "Error: Config values to remove in 3.0: The `esnext` option is enabled by default."
I cannot figure out how to change/remove the `esnext` option in order to get rid of this message:

In my setup, I have a `.jshintrc` file in one of the parent folders which contains:

[code]

But removing that line from the configuration file does not change anything.

How can I try to narrow down this problem? For one, I'd need to be sure what I have to do about
the message; and I'd also need to

[2016-05-07 00:49] v-pavanp opened #31 "Sometime not getting any message to restart VSCode after removing JShint Extension."
I observed with VSCode 1.1.0-alpha build on windows10 machine after uninstalling the JShint extension I am not getting pop-up to restart app.
And if I tried to reinstall without restart getting below error message.

![image](https://cloud.githubusercontent.com/assets/17735796/15089168/b8446072-13b2-11e6-8ebd-90f2e96b7050.png)

[2016-05-07 01:46] v-pavanp opened #32 "Not able to install JShint extension and getting error message "Failed to load JShint library""
VSCode version: 1.1.0-alpha
OS: Windows10

Steps to Reproduce:
1. Launch app and try to install JShint extension.
2. Verify user should get success message.
3. Click on reload and verify from the installed extensions list.

Actual getting error message : "Failed to load jshint library. Please install jshint in your workspace folder "

![jshintextensioninstallerror](https://cloud.githubusercontent.

[2016-05-07 02:08] v-pavanp opened #33 "VScode unable to recognize whether JShint extension is installed or not."
- VSCode Version:1.1.0-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and try to install JShint extension.
2. Verify user should get success message or error message.
3. If user gets error me message then reload app manually.

Actual:
1. I observed after reloading app, JShint extension started showing up in both extension install and installed list.

Expected:
1. if there is no u

[2016-05-29 13:50] xymopen opened #35 "Make "jshint.options" more readable"
Hi there:
Please consider replace the empty option object of "jshint.options" with a more readable one, for example (just a copy from jshint source):

[code]

[2016-06-30 08:08] dbaeumer opened #36 "JSHint server should clear diagnostics on buffer clone"
We removed some bogus code for 1.3.x from the core which cleared markers on buffer close. We had to remove that to get to a consistent project build story. Now the producer of markers must ensure to clear them if they re not needed anymore (was the contract always)

If you don't do anything fancy you can use the following snippet:
// Clear diagnostics on close.
documents.onDidClose((event) => {
co

[2016-07-02 19:21] kieferrm commented on #36
Closed with https://github.com/Microsoft/vscode-jshint/commit/57e85326b6a14cf8f18b81c87ab920880430441b.

[2016-07-02 19:21] #36 closed

[2016-07-07 09:06] lucdew opened #37 "Report warning as errors, warnings do not standout"
Hi,
it would be interesting to be able to report warning as errors or choose the color for warnings.
Currently warnings are reported by default in visual studio code and it is not really visible, they do not standout. At the company I work for, code pushes with jshint warnings are rejected.

For example it would be interesting to have a property:
**jshint.warning.reportAsError=true**

[2016-07-29 05:34] liuliangsir commented on #3
i encounter this problem too recently

[2016-07-29 05:35] liuliangsir commented on #3
I encounter this problem too recently

[2016-08-01 06:46] manish-tal commented on #3
I also encountered this issue
I have jshint installed globally via `npm install -g jshint`
but I always get this message.

[2016-08-09 18:27] fasdgoc commented on #3
These lines below were needed to move from Default Settings to settings.json

    // JSHint configuration

    // Control whether or not jshint is enabled for JavaScript files.
    "jshint.enable": true,

    // A path to file containing the configuration options for jshint. If the file exists it overrides     jshint.options and any .jshintrc file
    "jshint.config": null,

    // The jshint opti

[2016-08-10 18:49] finalclass commented on #3
I also have the same problem (running vscode on arch linux)

[2016-08-15 09:07] Lichtjaeger commented on #3
You should follow your own advice (Microsoft/vscode-htmlhint#8):

Please bundle [a minified version](https://github.com/jshint/jshint/blob/master/dist/jshint.js) of JShint in your extension.

[2016-08-19 02:17] iomier commented on #32
admin access

[2016-09-16 22:10] leewinder commented on #3
"the idea is that most devs that want to make use of jshint already have it installed"
"Instead we try to load it from the node_modules folder in the workspace folder (the folder open in VSCode)"

Those two assumptions may not be true.  In my case, I do not (and will not) install modules globally and my node_modules folder is one folder deep, not at the root level of the project.

Either bundle a

[2016-09-17 12:22] egamma commented on #3
@kieferrm version 2.5 of the https://github.com/Microsoft/vscode-languageserver-node provides additional configuration options for loading the library, see https://github.com/Microsoft/vscode-eslint/blob/master/eslint-server/src/server.ts#L209.

[2016-09-20 18:23] colek42 commented on #16
thank you @jsnjack

[2016-09-24 15:53] icezohu opened #38 "The version of jshint is out of date."
The version of jshint is out of date and could not recognize many of the es6 grammars. And there are a lot of error messages which are really disturbing. Please could you help update to the latest version? Thank you very much!

[2016-10-23 00:48] poumian commented on #38
I'm also having this same problem. I have included the following configuration in my Workplace settings file and I still see a bunch of JSHint errors in ES6:

`  "jshint.options": {
        "esversion": 6
    }`

[2016-10-26 06:36] avnersorek opened #39 "Options to run only if there is a .jshintrc file ?"
I'm working on multiple projects in VSCode - some using jshint and using eslint (or something else).
Currently I'll have to manually disable vscode-jshint for each workspace that uses something else.
Can I make vscode-jshint run only if it finds a .jshintrc file ?

Thanks

[2016-10-26 16:29] IgorNovozhilov opened #40 "Make box solution"
When you install the plugin, do check for the npm package 'jshint' is installed on the system, globally or above in the tree 'node_modules'. And in the absence  'jshint', install to current module folder.
So much easier :smile:

[2016-11-01 18:53] komali2 commented on #38
Seconded. Does not recognize the .jshintrc config option {`"esversion": 6}`

[2016-11-03 05:44] ccloli opened #41 "Highlight is not correct when using tabs as indent"
Here is a screenshot of using tabs as indent, you can see the highlight doesn't mark where goes wrong.
![Screenshot](https://cloud.githubusercontent.com/assets/8115912/19956743/c5156714-a1ca-11e6-8e70-927822ca8ee4.png)

It works fine when using 4 spaces instead of one tab.
![Screenshot](https://cloud.githubusercontent.com/assets/8115912/19956820/391ef274-a1cb-11e6-8abc-7f5e661e7ad5.png)

Highlight

[2016-12-14 10:23] jonathas commented on #3
+1 for providing options to specify the install location

[2017-01-04 11:58] ypresto opened #42 "Enable only when .jshintrc is present"
I'm using vscode for various project, and only a few projects have jshintrc and others have eslintrc.
I want to enable this plugin only when `.jshintrc` is present because it shows many error for es6 syntaxes by default, even the project is checked by eslint.

There is vscode issue for enabling plugin per project but is in Backlog.
https://github.com/Microsoft/vscode/issues/15611

[2017-02-08 05:20] quicklikerabbit commented on #29
Code Version 1.9.0
MacOS 10.12.3

Having the same error with my jsx files.
![screen shot 2017-02-07 at 9 19 17 pm](https://cloud.githubusercontent.com/assets/16544906/22724468/3c3ae0f2-ed7b-11e6-8582-a813e0ede565.png)

[2017-02-08 16:05] rhernandog commented on #29
Same here.

Also I reported it on the JSHint repo as well if anyone has anything to add or wants to track it:

https://github.com/jshint/jshint/issues/3097

Windows 7 64b
Code 1.9.0
Plugin version 0.10.15

![JSX Issue](http://i.imgur.com/k3BM9XI.jpg)

[2017-02-08 20:27] rhernandog commented on #29
Hi, another thing that I forgot to add is that when I wrap the tag with the issue, the error is thrown on a different place in the code.

---
Here the error is happens on the closing h3 tag:
![JSHint error 2](http://i.imgur.com/pbTsszE.jpg)

---
Here the same code is wrapped around a div tag and the error goes to the first level div tag
![JSHint error 3](http://i.imgur.com/ViQulgu.jpg)

[2017-03-16 22:03] renatomariscal commented on #38
A workaround, if your package doesn't depend on jshint directly, try adding it:
[code]

[2017-03-18 12:08] zwacky opened #43 "Inline Configuration: Comments should override rules for that block/line"
```/* jshint laxcomma:false */```
or
```// jshint laxcomma:false```

should be taken into account when linting. seen http://jshint.com/docs/ under "Inline Configuration"

[2017-03-19 14:38] zwacky commented on #43
Realized the issue sat behind the screen.
It does work, it should read `laxcomma:true`.

[2017-03-19 14:38] #43 closed

[2017-04-18 21:09] JesusIslam commented on #3
I too, have this problem even though I've already has jshint installed globally.

[2017-04-27 10:14] mateiacd opened #44 "Is there something like "jshint.extract" : "auto" to mimic the behaviour of jshint --extract=auto ?"
Hi,

What about the option to extract JavaScript code contained in an HTML file from VS Code ?

 Is there something like "jshint.extract" : "auto" to mimic the behaviour of jshint --extract=auto index.html ?

[2017-08-05 22:28] tuxedojoe commented on #32
Same problem here running Ubuntu 16.04 even with sudo:

npm WARN enoent ENOENT: no such file or directory, open '/home/joe/Dropbox/Projects/ePlanket/src/packag
e.json'
npm WARN src No description
npm WARN src No repository field.
npm WARN src No README data
npm WARN src No license field.

[2017-09-20 15:36] reybango opened #45 "VS Code doesn't recognize jshint if installed globally via Yarn"
OS: Win10 latest insider build
Code: v1.16.1
JSHint: v2.9.5 (installed globally)
JSHint Extenstion: 0.10.15

I installed JSHint globally using Yarn. It's accessible via commandline in cmd, git bash & WSL. Unfortunately VS Code doesn't seem to see it, throwing the following error within the editor:

Uninstalling the Yarn version and reinstalling via npm globally fixes it with VS Code now seeing JSH

[2017-09-20 18:04] egamma commented on #45
@reybango this is this issue https://github.com/Microsoft/vscode-eslint/issues/187 which requires some support from yarn.

[2017-09-22 08:05] dbaeumer commented on #45
@reybango alternatively you can install jshint locally in your workspace (which is the recommended way anyways). If installed locally you can use yarn without problems.

[2017-10-02 14:19] Spown opened #46 "jshint.exclude for internal paths"
because [this issue](/Microsoft/vscode/issues/24033) will probably take literally years to resolve (it's been baried in the backlog for months now) I thought I could find a workaround and ignore the faulty files for this extension. Yet, no matter what glob I try I can't seem do it, probably because of the pattern relativity to the Workroot (#28) and the "file's" path starting with "git:/" which do

[2017-10-12 20:01] wkaskie commented on #3
I just upgraded to release 1.17.1 and NOW I'm getting this error as well.

[2017-11-08 20:23] Ashtheyogi commented on #3
I'm getting this error too. Can anyone write down the step by step process of fixing this? I dont understand how to npm install it or install it globally?

[2017-11-10 18:52] scout208 commented on #3
Just wanted to add you have to restart VS Code after running npm install if you already had it open.

[2017-11-17 15:33] Gilwyad commented on #38
That workaround did not help me. This issue makes this extension unusable.

[2017-12-05 21:31] mike-kaufman commented on #3
@21Vicroy - error above means npm insn't in your path.  Probably easiest thing to do is [install node](https://nodejs.org/en/download/), restart machine, and then try again.  Probably want to run `npm install -g jshint` (to install globally) or `npm  install jshint` in your project to install as part of a specific project.

[2017-12-05 23:22] 21Vicroy commented on #3
@mike-kaufman how do I install it globally then? and how do I run it with windows 10? command prompt (admin) doesn't accept it.

[2017-12-07 16:33] entozoon commented on #42
+1
It's dang annoying that it kicks in by default; inescapably

[2017-12-14 15:12] Xenya0815 commented on #26
What's the status of `extends` support?

[2017-12-18 01:43] emanpatricio commented on #3
I'm usually using windows bash shell.

I fixed my issue by installing it in cmd and not in bash.

[2018-01-02 19:44] RMacfarlane opened #48 "Refresh JSHint support"
- Add support for 'extends' in jshintConfig within package.json files
- Add autocompletions for 'extends' and 'excludes' in jshintrc files
- Add option to report warnings as errors
- Investigate bug of highlighting displaying incorrectly (#41)

[2018-01-18 01:53] RMacfarlane commented on #26
`extends` is supported within a .jshintrc file, there is just no suggestion for it

[2018-01-18 20:53] RMacfarlane commented on #41
I haven't been able to reproduce this yet. Could you share your VSCode version and settings?

[2018-01-18 22:25] darrenbrett opened #49 "jshint: Incompatible values for the 'esversion' and 'esnext' linting options"
JSHint options set up in workspace settings are incompatible.

I have this in my workspace settings:

[code]

I have "esnext" set to "true" here because I want to be able to use async/await in Node. But in my individual files I then get this message:

[2018-01-18 23:53] RMacfarlane commented on #33
Issue with VSCode, not extension. Has been fixed in VSCode

[2018-01-18 23:53] #33 closed

[2018-01-18 23:55] #31 closed

[2018-01-19 00:16] RMacfarlane commented on #38
This extension doesn't ship with a version of jshint, it just uses what you have installed.

What's the output of running `npm outdated`? This prints packages that have newer versions. If you remember that you installed it globally, you can do `npm update -g jshint`. If it is local just `npm update jshint` (and then update your `package.json` file).

Support for `esversion` was released starting w

[2018-01-19 00:29] RMacfarlane commented on #49
`esnext` is being deprecated in favor of `"esversion": 6`: http://jshint.com/docs/options/#esnext
Try using only `"esversion": 6`

[2018-01-19 00:36] RMacfarlane commented on #42
Closing as duplicate of Microsoft/vscode-jshint/issues/39
Also, the ability to enable extensions only for specific workspaces has shipped in VSCode :tada:

[2018-01-19 00:36] #42 closed

[2018-01-19 09:15] entozoon commented on #42
That's not an ideal solution.

[2018-01-25 22:37] RMacfarlane commented on #26
Updated .jshintrc schema [here](https://github.com/SchemaStore/schemastore/pull/391) to include 'extends'. 'exclude' doesn't appear to be a supported option for .jshintrc

'extends' now shown as a proposal when editing .jshintrc files

[2018-01-25 22:37] #26 closed

[2018-01-27 03:23] KaushalyaPradeep opened #50 "Failed to load jshint library. Please install jshint .... even after installing jshint"
I get following error when I am opening vscode.

`Failed to load jshint library. Please install jshint in your workspace folder using 'npm install jshint' or globally using 'npm install -g jshint' and then press Retry.`

even after installing jshint globally like `sudo npm install -g jshint`
[code]

But I do get the hints  with the bulb symbol when I highlight my JavaScript code.
I am using a Linu

[2018-01-27 23:35] RMacfarlane commented on #50
What was the result of trying to install without `sudo`? A permissions error? What's the output of `npm config get prefix`? VSCode looks for globally installed npm packages in the result of `npm config get prefix` + `lib/node_modules` on Linux

[2018-01-28 17:07] KaushalyaPradeep commented on #50
With sudo there was a permission(write) error.
`npm config get prefix` gave me the output `/usr`
How could I fix this?

[2018-01-29 06:00] RMacfarlane commented on #50
[This](https://docs.npmjs.com/getting-started/fixing-npm-permissions) page describes two possible solutions for fixing the permissions error. Doing that and then reinstalling the package should get it working.

You could also try just manually setting the prefix value. `npm ls -g --depth=0` will print the path to the node_modules folder jshint was installed to. `npm config edit` and then find the

[2018-02-01 10:12] KaushalyaPradeep commented on #50
Thanks @RMacfarlane  I fixed the permission error by installing Node via NVM. Now it works fine. No errors.

[2018-02-06 17:48] #50 closed

[2018-02-06 17:50] RMacfarlane commented on #37
This has been added as **jshint.reportWarningsAsErrors** in version 0.10.16

[2018-02-06 17:50] #37 closed

[2018-02-06 17:52] RMacfarlane commented on #44
There is now a `jshint.lintHTML` option that when enabled, will run jshint on JS that's in script tags in HTML in version 0.10.16.

[2018-02-06 17:52] #44 closed

[2018-02-06 18:28] #38 closed

[2018-02-06 18:37] #30 closed

[2018-02-07 09:49] BVJeon opened #51 "how to this...?"
OMG... Help me please.

I use React-Native with JSHint
But! See error.
I did Google search. Through the setup, the grammar of es was also applied. But there is an error.

Issues found : https://github.com/Microsoft/vscode-jshint/issues/29

![2018-02-07 6 48 32](https://user-images.githubusercontent.com/33533201/35909656-9b593fc6-0c37-11e8-8abb-1e76159e33fc.png)
![2018-02-07 6 50 38](https://user-i

[2018-02-07 19:10] RMacfarlane commented on #51
JSHint can't parse JSX syntax, but the extension is running JSHint on the entire file, so it is erroring on the JSX syntax. This is a bug that isn't easy to fix, but as a workaround for now you could use `/* jshint ignore:start */` and `*/ jshint ignore:end */` above and below the render method.

`type Props = {};` looks like Typescript to me, should this be a `.tsx` file?

[2018-02-07 19:42] RMacfarlane commented on #29
The extension is running jshint on the entire jsx file, but jshint doesn't support jsx syntax. I think the correct fix would be for the extension to parse and identify the jsx portions of the file and not lint those, but this is a difficult fix that will take a while. Would it be useful to have an option to not run jshint on jsx files?

One workaround for now would be to manually turn off jshint a

[2018-02-07 19:45] #16 closed

[2018-02-07 23:27] BVJeon commented on #51
This file is React-Native example file and "*.js/javascriptreact".

I see. I use /* jshint ignore:start */ and */ jshint ignore:end */ above and below the render method.

type Props = {};
Let's find another solution to this.

Thank you so much for answering. :)
Have a nice day~~~

[2018-02-07 23:31] BVJeon commented on #51
And although there is still a bug(*JSX Parsing bug) left, I will close this issue.

[2018-02-07 23:31] #51 closed

[2018-02-08 11:20] melnakoury commented on #3
@emanpatricio Thanks man.. it's working for me now 👍

[2018-02-14 15:39] s-rodriguez opened #52 "[jshint] Bad option: 'overrides'"
Since some recent update, this error keeps popping up: "**[jshint] Bad option: 'overrides'**".

`overrides` comes as a [special option](http://jshint.com/docs/cli/#special-options) in the _cli_, same as `extends` that is indeed supported.

I have the following section in my `.jshintrc`:

[code]

Has this been changed on purpose? Any idea on how can I fix it?

[2018-02-14 18:10] RMacfarlane commented on #52
Support for `overrides` is missing, the option is being passed directly to the jshint api instead of being handled separately like `extends`. I'm not sure why this error would only start showing up now.

To fix it, the [server](https://github.com/Microsoft/vscode-jshint/blob/master/jshint-server/src/server.ts) needs to handle `overrides` when reading options.

[2018-02-25 11:32] di2pro commented on #3
I have a large project, that's split into micro services, the problem is that `node_modules` for a frontend part is nested in a few folders, because I use root folder. So, I don't wanna install anything globally (that's why I use docker all the time), I just wanna to specify the path for the `jshint` library in its config. Is it possible? Btw, it works fine in WebStorm for example, but WebStorm wo

[2018-03-05 23:20] #48 closed

[2018-03-06 17:09] RMacfarlane commented on #41
This is caused by an issue in JSHint, https://github.com/jshint/jshint/issues/3151. I checked in a workaround for it, but I think I will actually revert that since I don't want to mask the problem and it may cause issues for users with older versions of JSHint.

As a workaround, you can add `indent: 1` to your `.jshintrc` file.

[2018-03-07 22:46] #46 closed

[2018-03-07 22:46] RMacfarlane commented on #46
@Spown I just checked in a fix for this. I'll publish a new version of the extension by the end of the week

[2018-03-08 18:02] RMacfarlane commented on #45
Added `jshint.packageManager` setting which can be either `npm` or `yarn` in version 0.10.17. When this is set to `yarn`, the extension looks for the jshint in the global yarn dir if it can't be found locally.

[2018-03-08 18:02] #45 closed

[2018-03-08 18:03] RMacfarlane commented on #46
Version 0.10.17 is published

[2018-03-08 19:45] RMacfarlane opened #53 "Add more tracing to server and command for displaying output"
- [x] Add tracing
- [x] Add "jshint.trace.server" setting that allows setting verbosity
- [x] Add command to show the output channel so trace can be viewed

[2018-03-17 20:21] CharstaScott opened #54 "download of VS code will not recognize variables from ES6 like const and let."
- Extension Name: jshint
- Extension Version: 0.10.17
- OS Version: Windows_NT x64 10.0.16299
- VSCode version: 1.21.1

 We have w```json
{
	"activationTimes": {
		"startup": false,
		"codeLoadingTime": 308,
		"activateCallTime": 10,
		"activateResolvedTime": 0,
		"activationEvent": "onLanguage:javascript"
	}
}
[code]

[2018-03-19 19:35] RMacfarlane commented on #54
Thanks for reporting! Can you share your `.jshintrc` file? To get jshint to recognize ES6 syntax, you need to add the option `esversion: 6`. You can also add that directly under "jshint.options" in VSCode settings if you don't have a `.jshintrc` file. Let me know if that works for you.

I think it would be good if the extension had a quick fix option available in this case to automatically add it.

[2018-03-19 19:44] RMacfarlane commented on #3
@di2pro The latest version of the extension, 0.10.17, has a setting called `jshint.nodePath` that can be used for this. It can be an absolute path or relative path from the project root to your `node_modules` folder.

[2018-03-21 08:01] baelter commented on #22
Can't get this to work,

Putting
[code]

in `.jshintignore` and all files are linted.

vscode: 1.21.1
vscode-jshint: 0.10.17
jshint: 2.9.5

[2018-03-25 06:23] codemilan opened #55 "Frequently getting warnings even if the code formatting is perfect."
I simple created react app using 'create-react-app' command generating default boilerplate code, but the linter gives below warning message for below mentioned code below warning message :

[jshint] Unclosed regular expression. (E015)
[jshint] Unrecoverable syntax error. (50% scanned). (E041)

[code]

[2018-03-26 02:49] RMacfarlane commented on #55
Thanks for reporting! I think this is a duplicate of https://github.com/Microsoft/vscode-jshint/issues/29.  JSHint doesn't recognize the jsx syntax of the return statement. One workaround for now would be to add `/* jshint ignore:start */` before the return and `/* jshint ignore:end */` after the end of the return.

Closing this as a duplicate.

[2018-03-26 02:49] #55 closed

[2018-03-28 14:37] CharstaScott commented on #54
thanks

[2018-03-29 20:58] bobpearson commented on #54
Is this correct in user settings?  There is no validation and this seems to not be working.
[code]

[2018-03-29 22:25] RMacfarlane commented on #54
@bobpearson That looks right to me. Do you have a `.jshintrc` file in your project folder, or somewhere along the parent chain? The extension will use this over the options set in vscode, so maybe it's being overwritten

[2018-03-30 22:34] jrock2004 opened #56 "How to install"
Is this plugin installed by default? When I search for `jslint` I get some other persons plugin.

[2018-03-30 22:49] RMacfarlane commented on #56
@jrock2004 Do you mean how to install this extension to VS Code, or how to install the `jshint` package?

`jshint` isn't installed by default with the extension, so you would need to follow the steps in the [README](https://github.com/Microsoft/vscode-jshint/blob/master/README.md). `jshint` and `jslint` are two different JavaScript linters, `jshint` is a fork of `jslint` meant to be more configura

[2018-03-30 22:50] jrock2004 commented on #56
The plugin. I have jshint installed via `yarn global add jslint`

[2018-03-30 23:01] RMacfarlane commented on #56
This is the extension for integrating jsHint into VSCode, not jsLint. If this is the JS linter you're looking for, it should be the first result when you search for `jshint` in the extensions panel.
![screen shot 2018-03-30 at 3 54 01 pm](https://user-images.githubusercontent.com/3672607/38156426-a075aa8a-3432-11e8-89cf-0295e992beba.png)

If you're looking for a jsLint extension, I think you want

[2018-03-31 02:05] jrock2004 commented on #56
User error. I was search for `jslint` not `jshint`

[2018-03-31 02:05] #56 closed

[2018-04-04 18:11] #53 closed

[2018-04-05 00:04] RMacfarlane commented on #52
@s-rodriguez Just pushed a change to add support for this, I'll publish a new version of the extension by the end of the week

[2018-04-05 16:16] s-rodriguez commented on #52
@RMacfarlane excellent! Thanks a lot!

[2018-04-05 18:26] RMacfarlane commented on #54
@bobpearson I just published a new version of the extension which has better logging. If you press `F1` and run the command `JSHint: Show output` after opening a js file, you should see info about what configuration file was loaded
![output](https://user-images.githubusercontent.com/3672607/38384464-1504ba22-38c4-11e8-934a-f30dca4543e7.gif)

[2018-04-05 18:27] RMacfarlane commented on #52
Published version 0.10.18!

[2018-04-05 18:27] #52 closed

[2018-04-05 18:33] RMacfarlane commented on #3
Closing this as there is now a `jshint.nodePath` setting for specifying the path to the `jshint` library. To see where `jshint` was loaded from, you can run the `JSHint: Show output` command when the extension is active, which will show the extension logs in the output panel. There's an info message there with the library path.

Please file a new issue if you're still having problems with this. Th

[2018-04-05 18:33] #3 closed

[2018-04-07 13:45] premedios opened #57 "Failed to install dbaeumer.jshint"
I updated VSCode yesterday and I have been getting the above message everytime I tried to reinstall this plugin. Before I would get the message:
[code]
I uninstalled the extension hoping that the reinstall would work but it didn't. I tried to install it manually but it complained about the .vsix file being corrupt.

[2018-04-07 17:04] RMacfarlane commented on #57
Thanks for reporting. What OS are you using? Can you run the `Developer: Toggle Developer Tools` action when this happens and see if there is an error printed to the console?

[2018-04-07 17:14] premedios commented on #57
The first time this error was when I was trying to update the extension after the vscode update two days ago. The console was complaining about the extension's dot folder not being empty so I deleted that folder and I was able to reinstall the extension. Next time I get this error on any extension's update or installation I'll use the tip you stated in your response. Thanks.

[2018-04-08 07:12] xymopen commented on #35
Cool. Thanks.

[2018-04-09 04:00] #35 closed

[2018-04-23 14:46] JonGarbayo opened #59 "Lint JavaScript in PHP files"
Hi!

Could you add an option (as ``"jshint.lintHTML"``) to lint JavaScript in PHP files?
There are a lot of scenarios where PHP files contain HTML, and so ``<script>...</script>`` tags.

Thanks!

[2018-05-06 23:52] andythomo commented on #54
I am having the same problem, I have tried changing the options in the workspace settings and adding a `.jshintrc` in my project folder.

The only way I have managed so far to get it working is by adding `/*jshint esnext: true */` to the top of each file I am working on. This isn't ideal as I believe it is being removed in the next release.

[2018-05-07 16:17] RMacfarlane commented on #54
@andythomo Could you verify that the extension is loading the `.jshintrc` from the path you expect by following the steps in above? What version of `jshint` are you using, and are you setting `esnext` or `esversion` in your `.jshintrc`?

[2018-05-07 18:10] andythomo commented on #54
@RMacfarlane I am using `jshint 0.10.18` and the extension is loading from the path I expected it to. No inside the `.jshintrc` I am setting `esversion: 6` with the following code.

`"jshint.options": {
        "esversion": 6
  }`

[2018-05-07 18:27] RMacfarlane commented on #54
@andythomo Ah sorry I meant what version of the `jshint` library are you using, not the extension. If you're using an older version of `jshint`, `"esnext": true` might be the correct setting. Have you tried adding that to your `.jshintrc` file, or does it only work when specified in a file?

[2018-05-08 11:06] dexios1 commented on #54
Adding `esversion: 6` to `jshint.options` worked for me . Thanks @RMacfarlane!

[2018-05-18 06:27] coderNeos opened #60 "Extension does not lint"
Issue Type: <b>Bug</b>

After updating to latest version of vscode, extension does not lint my code.

Also when i try to run command 'jshint.showOutputChannel', I get an error:
Running the contributed command:'jshint.showOutputChannel' failed.

It seems that something is not working at all.

Extension version: 0.10.18
VS Code version: Code 1.23.1 (d0182c3417d225529c6d5ad24b7572815d0de9ac, 2018-05-

[2018-05-18 17:06] RMacfarlane commented on #60
Thanks for reporting. The `jshint.showOutputChannel` command should be available after the extension is activated by opening a `.js` file, so it sounds like the extension isn't activating at all.

Can you take a look at the "Log (Extension Host)" output channel after you have started VSCode and opened a `.js` file?
![screen shot 2018-05-18 at 10 04 37 am](https://user-images.githubusercontent.com/

[2018-05-19 02:19] kibobe04 commented on #60
[code]

[2018-05-27 07:51] nindogo opened #61 "Extensions not taking advantage of the Windows Subsystem for Linux"
I am running VSCode on a Windows computer. I have installed Debian with WSL.

I have then set up my terminal to be the bash.

vscode-jshint expects to find jshint on the windows side - when there is a perfectly good one on the linux side.

Is it possible for vscode to tell jshint to use the linux binaries - or a configuration for doing the same?

[2018-06-04 22:11] RMacfarlane commented on #22
@baelter @osya Thanks for reporting and the clear steps to reproduce! There was an issue with caching that I just checked in a fix for. The extension maintains a cache for excludes that was correctly being cleared, but there was also a cache being maintained by a parsing library that wasn't cleared. I'll publish a new version of the extension soon.

[2018-06-04 22:11] #22 closed

[2018-06-04 23:45] RMacfarlane commented on #61
@nindogo There isn't a simple setting to use WSL, but I just tried manually specifying the path using the `jshint.nodePath` setting and have it working. I'm using Ubuntu with WSL, for me the file system root for it is at `%LocalAppData%\Packages\CanonicalGroupLimited.UbuntuonWindows_79rhkp1fndgsc\LocalState\rootfs`. I was looking around for documentation on this and saw some stack overflow posts t

[2018-06-06 16:13] nindogo commented on #61
Thanks for taking the time.
Will try and get back to you - just to let you know, I installed an X window server and was able to run Vscode from Debian - and everything worked as expected.

Thanks again.

[2018-06-07 22:03] RMacfarlane commented on #22
@baelter @osya Just published a new version of the extension. Please give it a try

[2018-06-08 00:02] #49 closed

[2018-06-10 15:20] osya commented on #22
@RMacfarlane , thank you for your attention. I just checked. But the issue still exists.

vscode: 1.24.0
vscode-jshint: 0.10.19
jshint: 2.9.5

[2018-06-11 11:50] bauripalash opened #62 "Failed to Load JsHint Library"
Whenever I open a nodejs project with vscode it shows an error message saying "Failed to load jshint library" like bellow

![screenshot from 2018-06-11 17-11-43](https://user-images.githubusercontent.com/16154204/41229814-03e027b6-6d9b-11e8-995b-dd0db948c6c9.png)

but I've installed jshint , jslint library globally

- VSCode Version: 1.23.1
- OS Version: Ubuntu 17.04 32bit

Steps to Reproduce:

1.

[2018-06-11 16:41] RMacfarlane commented on #62
@bauripalash What command did you run to install jshint? Could you share the output of running `npm config get prefix`?

[2018-06-11 17:12] RMacfarlane commented on #22
@osya Hmm, I've tried your steps above with the versions you listed and it works for me. Could you share your settings?

[2018-06-12 01:37] bauripalash commented on #62
@RMacfarlane

I installed jshint with `npm install -g jshint`

and output of `npm config get prefix` is
`/home/palash/.nvm/versions/node/v8.10.0`

[2018-06-12 07:39] osya commented on #22
@RMacfarlane , sorry. It works. I just added the content `**/*.jsx` to the file `.jshintignore` and then `jshint` begins ignoring *.jsx files. Empty file `.jshintignore` with the user setting
[code]
does not ignore *.jsx files. It seems it is correct

[2018-06-19 23:40] RMacfarlane commented on #62
@bauripalash Ok, the extension should look in `/home/palash/.nvm/versions/node/v8.10.0/lib/node_modules/` for a `jshint` folder. Can you confirm that the folder exists there?

[2018-06-20 00:08] bauripalash commented on #62
Yes I checked, the folder exists

[2018-07-19 14:54] AhsenBaig commented on #32
Ran into the same issue so did what the warning suggested:

Please install jshint in your workspace folder using
`npm install jshint`
or globally using
`npm install -g jshint`

Still annoying that we have to do this manually.

[2018-07-22 23:20] DoubleCouponDay opened #63 "Request initialize failed with message: missing ) after argument list"
this error is produced after restarting vsc with jshint installed, and installing jshint as an npm global.

[2018-07-25 07:41] lionroy commented on #55
@RMacfarlane  'One workaround for now would be to add /* jshint ignore:start */ before the return and /* jshint ignore:end */ after the end of the return.;
  ---> add it where ? and why this code is commented out?
ty

[2018-07-25 16:50] RMacfarlane commented on #63
@DoubleCouponDay Thanks for reporting this. Could you also include this information?

- Extension version
- VSCode version
- Result of running `npm config get prefix` and `npm ls -g --depth=0`

[2018-07-25 22:05] DoubleCouponDay commented on #63
visual studio code version: 1.25.1
jshint extension version: 0.10.19
jshint global version: 2.9.5
**`npmconfig get prefix`:** C:\Users\sjsui\AppData\Roaming\npm
**`npm ls -g --depth=0` :**
[code]

[2018-07-25 22:06] DoubleCouponDay commented on #63
screenshot:
![image](https://user-images.githubusercontent.com/7555725/43230203-8868ac54-90bb-11e8-9bb0-8cb9b1a0893a.png)

[2018-07-25 22:16] DoubleCouponDay commented on #63
output window:
![image](https://user-images.githubusercontent.com/7555725/43230570-e3c47866-90bc-11e8-8272-2ded4df2ec10.png)

[2018-07-31 10:46] CMTietgen commented on #62
I've been getting this error for a while now, too. I simply installed it via the VSCode Extension Manager.

[2018-09-03 11:17] alecat88 commented on #62
Same here, installed using the VSCode Extension Manager, not working :(

[2018-09-04 22:28] RMacfarlane commented on #62
@CMTietgen @alecat88 Can you share what OS you're using, the VSCode version, and extension version? Are you also able to confirm that there is a `jshint` folder at the global install point, from the above?

[2018-09-04 22:30] RMacfarlane commented on #57
Closing this out, please file a new issue if you see this again

[2018-09-04 22:30] #57 closed

[2018-09-05 11:31] jlagden commented on #62
I get this issue on Windows 10:
**VsCode** Win32-ia32-1.26.1 **jshint extension** 0.10.19
**jshint** v2.9.6

I found that if I start vscode from a command prompt typing "code ." jshint works.
If I load vscode by double clicking on the exe file it doesn't work.
It looks like vscode does not see the node paths / variables, I don't know enough about how it works though.

[2018-09-06 17:08] RMacfarlane commented on #62
The code to resolve the npm module is from an external library, `vscode-languageserver`. I just updated this to the latest version - @jlagden can you see if the problem is fixed in the latest version, 0.10.20?

[2018-09-07 10:35] jlagden commented on #62
Ignore my comment the issue for me was the PATH was not set correctly within vscode (it was using a different terminal)

[2018-09-23 17:40] john9384 opened #64 "Error message"
Issue Type: <b>Bug</b>

Failed to

Extension version: 0.10.20
VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2520M CPU @ 2.50GHz (4 x 2494)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: en

[2018-09-24 14:49] RMacfarlane commented on #64
@john9384 Can you include the full text of the error message?

[2018-09-25 12:39] tahsincange commented on #63
Same error here. (Its a fresh windows installation)

My infos :
VSCode version 1.27.2
JSHint Extension version: 0.10.20
JSHint Global version: 2.9.6

``npm config get prefix`` : ``C:\Users\tcgenc\Applications\node``

``npm ls -g --depth=0`` :

``C:\Users\tcgenc\Applications\node
+-- jshint@2.9.6
+-- lma@1.0.2 -> C:\Users\tcgenc\Repos\ls-for-win
+-- npm@6.4.1
+-- path-intellisense@1.4.2 -> C:\Users

[2018-09-28 05:33] tahsincange commented on #63
Detailed error on logs :

`[2018-09-28 08:27:50.980] [renderer1] [error] Request initialize failed with message: missing ) after argument list: Error: Request initialize failed with message: missing ) after argument list
    at new ResponseError (C:\Users\tcgenc\.vscode\extensions\dbaeumer.jshint-0.10.20\jshint\node_modules\vscode-jsonrpc\lib\messages.js:46:28)
    at handleResponse (C:\Users\tcge

[2018-09-28 05:56] tahsincange commented on #63
I solved it. It happens because it cant found node folder path on `extension.js:42` . Just set nodePath in jshint settings and its works like a charm.

PS: It cant find my node path because of i installed node on user not system.

[2018-10-29 23:49] str commented on #18
Should esversion be 6 by default?

[2018-11-20 09:18] Imran4424 commented on #3
how to install this globally?

[2018-11-20 10:03] Lichtjaeger commented on #3
`npm i -g jshint`

[2018-11-21 00:11] lifenstein commented on #3
I am using nvm to change node versions on the fly when needed. The VS Code terminal picks it up just fine, but jshint doesn't seem to. I can hard-code the path for jshint to always use a specific version using `jshint.nodePath`, but I think it's cleaner if it recognized the path returned by `which node` or equivalent.

[2018-12-12 16:36] tarunnashadhin opened #65 "write new way"
- Extension Name: jshint
- Extension Version: 0.10.20
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.29.1

 We have written the needed data into your clipboard. Please paste:

[2018-12-18 02:59] frogfans opened #66 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `jshint`
- Extension Version: `0.10.20`
- OS Version: `Linux x64 4.4.0-140-generic`
- VSCode version: `1.30.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/zengyu/dbaeumer.jshint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-02-06 08:09] stefanuddenberg opened #67 "Allow use of spread/rest operator"
The [latest version of jshint](https://jshint.com/blog/2019-02-05/release-2-10-0/) now allows for the use of the `...` spread/rest operator without warnings. I know that my jshint is up to date, but with the extension I still can't get the operator to work without warnings or wrapping the line with `ignore` statements. Changing `esversion` in settings to `9` doesn't help. Is there something I am m

[2019-02-11 12:07] s3anmorrow opened #68 "globals attribute in package.json not recognized by JSHint"
Love this extension - have my entire group of students using it.

But the globals attribute in package.json doesn't seem to be working:
"jshintConfig": {
  "esversion": 6,
  "strict": "implied",
  "browser": true,
  "devel": true,
  "node": true,
  "globals": {
    "Headers": true
}
Headers will still be flagged by JSHint as undefined

/* globals Headers */ at top is a workaround (or including a .

[2019-02-11 16:18] dawsonc623 opened #69 "Configure/disable JSHint per-folder in a multi-root workspace"
Currently, it looks like JSHint can only be configured for an entire workspace. I have a workspace with three roots: two of them use JSHint while the third uses ESLint. It would be handy to be able to configure/disable JSHint at the folder level as well as the workspace level.

A solution to #39 might be able to cover this use-case if implemented with this in mind.

[2019-02-11 22:56] stefanuddenberg commented on #67
For some reason changing to `esversion: 9` in config now helps, even though the config file complains about `9` being an invalid setting...

[2019-02-12 07:46] uryu-myao opened #70 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `jshint`
- Extension Version: `0.10.20`
- OS Version: `Darwin x64 18.0.0`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/econosys/dbaeumer.jshint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load

[2019-02-12 16:17] RMacfarlane commented on #70
Hey @uryu-myao, thanks for reporting this. Can you attach the file `/Users/econosys/dbaeumer.jshint-unresponsive.cpuprofile.txt`?

[2019-02-12 17:08] RMacfarlane commented on #67
The extension doesn't ship with a version of `jshint`, but it does use a schema from https://github.com/SchemaStore/schemastore to validate the config file. That's out of date so I've sent a PR to update it. Thanks!

[2019-02-12 17:14] RMacfarlane commented on #69
Hey @dawsonc623, this should already be possible: https://code.visualstudio.com/docs/editor/multi-root-workspaces#_settings

You should be able to set different values of `jshint.enabled` for each folder from the settings UI, or by adding a `.vscode` folder in each with a `settings.json` file that has that value.

[2019-02-12 17:30] RMacfarlane commented on #68
That config looks right to me. Can you open the output panel is VSCode and select `jshint` from the dropdown and paste any text from there?

<img width="1128" alt="screen shot 2019-02-12 at 9 29 50 am" src="https://user-images.githubusercontent.com/3672607/52655338-ca9a3d00-2ea8-11e9-8905-7dfc5f5b2a3d.png">

[2019-02-12 17:32] RMacfarlane commented on #65
Hey @ghost, the content from VSCode didn't make it into this issue without pasting. Can you please describe the bug or feature request?

[2019-02-12 17:32] RMacfarlane commented on #66
Hi @universezy, can you please attach the file `/home/zengyu/dbaeumer.jshint-unresponsive.cpuprofile.txt`?

[2019-02-12 17:43] s3anmorrow commented on #68
Sure thing - jshint certainly is reading from package.json... but globals seems to be ignored, maybe?

![screen shot 2019-02-12 at 1 41 19 pm](https://user-images.githubusercontent.com/5539774/52656054-ef53dc00-2ecb-11e9-97a6-3bafde05cfdd.png)

Any other thoughts? Thanks in advance!

[2019-02-12 17:45] RMacfarlane commented on #68
Hmm. What version of `jshint` are you using? Could you also include the error message you're seeing for `Headers`?

[2019-02-12 17:54] s3anmorrow commented on #68
Version: jshint@2.10.1
Error message - 'Headers' is not defined. (W117)
Never had a problem when using .jshintrc :(

package.json:

  "name": "sass-babel-with-gulp-nscc",
  "version": "1.0.0",
  "description": "Starter template for an ES2015 app implementing Sass/Babel and Gulp",
  "main": "app.js",
  "author": "Sean Morrow / NSCC Truro Campus",
  "license": "",
  "dependencies": {},
  "devDepende

[2019-02-13 09:25] innodjet commented on #54
this issue can be project specific .... please follow these instruction on here:
https://stackoverflow.com/questions/36318895/vs-code-with-es6

[2019-02-13 18:48] dawsonc623 commented on #69
@RMacfarlane Thanks for the response. The `jshint.enabled` option is not available at the folder-level. Just the User and Workspace levels. The only `jshint` option available for folders is `jshint.packageManager`.

[2019-02-14 11:24] uryu-myao commented on #70
@RMacfarlane I fixed the error by updating vscode. Thanks anyway!

[2019-02-14 11:24] #70 closed

[2019-02-22 23:16] RMacfarlane commented on #67
Should be fixed with https://github.com/SchemaStore/schemastore/commit/494a7f343a1f52713efa0682594db30f784450c6

[2019-02-22 23:16] #67 closed

[2019-02-22 23:38] RMacfarlane commented on #68
Sorry for the delay in looking at this!

I think the issue is that the extension isn't listening for updates to the `package.json` file. I see the same error when I add something to globals for the first time, but not after reloading VSCode. The extension does correctly listen for changes to `.jshintrc` files.

Thanks for catching this, I'll prepare a fix!

[2019-02-25 23:04] s3anmorrow commented on #68
Awesome – glad I could help!
Thanks Rachel :)

Sean Morrow
Faculty
IT Web Programming / Game Development
Nova Scotia Community College
902.893.7891
@s3anmorrow
www.seanmorrow.ca

From: Rachel Macfarlane <notifications@github.com>
Reply-To: Microsoft/vscode-jshint <reply@reply.github.com>
Date: Friday, February 22, 2019 at 7:38 PM
To: Microsoft/vscode-jshint <vscode-jshint@noreply.github.com>
Cc: S

[2019-03-10 08:56] Yuhemei commented on #3
1.windows+r
2. cmd
3.npm install -g jshint
4.Enter it
And then ,waiting for the installation.
Finally,,your problems will be solved

[2019-03-10 08:57] Yuhemei commented on #3
1.windows+r
2. cmd
3.npm install -g jshint
4.Enter
And then ,waiting for the installation.
Finally,,your problems will be solved

[2019-03-29 00:42] nycat commented on #29
Any elegant solution? I met this problem on my vscode as well.

[2019-03-29 00:46] nycat commented on #55
Any elegant solution? I think this solution quite dummy as you need to add this code segment at every render function.

[2019-04-01 23:29] #68 closed

[2019-04-09 01:16] #63 closed

[2019-04-10 04:26] NatoBoram opened #71 "Failed to load JSHint library if VSCode was installed as a Snap."
JSHint was properly installed.

[code]

Here's my installation of VSCode.

[code]

Here's my OS.

[code]

I also reported it in https://github.com/Microsoft/vscode/issues/72042.

[2019-04-24 22:13] raguelares opened #72 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jshint`
- Extension Version: `0.10.20`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.33.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2019-04-29 13:43] Marks-1 opened #73 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `jshint`
- Extension Version: `0.10.20`
- OS Version: `Windows_NT ia32 10.0.17134`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Naftally\dbaeumer.jshint-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-c

[2019-04-29 16:03] RMacfarlane commented on #73
Hey @Marks-1, thanks for reporting this issue. Can you please attach the log file `C:\Users\Naftally\dbaeumer.jshint-unresponsive.cpuprofile.txt` to help investigation?

[2019-05-13 12:19] fakhamatia commented on #59
Please support php files ,
I cant find plugin good for JS code in php files for VSCode.

[2019-05-27 00:29] rchrdnsh opened #74 "eversion 8 not accepted?"
like the issue says. Trying to change the JSHint version to 8 and it says that only 3 5 and 6 are accepted?

[2019-06-05 14:37] darrenbrett commented on #74
I'm running into the very same problem. According to the default documentation (https://jshint.com/docs/options/) we should be able to enable versions 8 or 9. But in my `settings.json` file, I get a green squiggly under `9`, and when hovered over it reads:

The ECMAScript version to which the code must adhere

Value is not accepted. Valid values: 3, 5, 6.

My full settings.json file looks like thi

[2019-06-14 14:41] sandy081 opened #75 "Flag machine specific configurations like paths as machine scoped"
I am developer from VS Code and we introduced Machine Scope for configurations in [1.34](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings) which will help in [remote set ups](https://code.visualstudio.com/docs/remote/remote-overview).

I would like to encourage extension authors to adopt to machine scope if you have any settings that you think they are scoped to machine like `

[2019-07-26 11:24] Quper24 commented on #49
not support async await

[2019-07-27 07:57] stormwild commented on #74
Same here:

![Screen Shot 2019-07-27 at 3 55 19 PM](https://user-images.githubusercontent.com/657249/61991705-0a379880-b087-11e9-9f1b-60ae9a827625.png)

[2019-07-27 23:21] gusbemacbe commented on #62
I use nvm. The problem is still insisting. It is a shame that the problem has not been solved for 10 months!

[2019-07-29 10:51] amzhang commented on #54
No, the .jshintrc file should look like this:

[code]

[2019-08-06 16:54] #74 closed

[2019-08-06 16:55] RMacfarlane commented on #72
Hey @DigitalDelos, can you retype what the issue you ran into was?

[2019-08-06 17:06] RMacfarlane commented on #74
Thanks for reporting this! This should be fixed in the newest version of the extension, 0.10.21.

[2019-09-28 18:03] HiEv opened #76 "JSHint extremely slow on large JS files"
- Issue Type: Performance
- Extension Name: jshint
- Extension Version: 0.10.21
- OS Version: Windows_NT x64 6.1.7601
- VSCode version: 1.38.0 (user setup)

With extremely large JS files (like [this one](https://github.com/HiEv/UInv/blob/master/UniversalInventorySystem.js)) JSHint can take a relatively long time to process the entire code, so with multiple keypresses, each one adding a check to th

[2019-10-04 09:46] ShadixAced opened #77 "JSHint: Asking for ECMAScript6 while I already have a eslint file saying it."
Issue Type: <b>Bug</b>

- Have an javascript file and a .eslintrc.yml or .eslintrc.json file
- on the eslint file :
parserOptions :
    ecmaVersion: 6
- on the javascript file, use the import from.
- WSHint will say that you do not have the correct "esversion" while you clearly stated in your parserOptions file that you have es6.

Extension version: 1.9.1
VS Code version: Code - Insiders 1.39.0-in

[2019-10-04 18:38] RMacfarlane commented on #77
@ShadixAced Since you have an `eslint` file, you may be looking for the eslint extension instead of this one: https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint
If not, can you try renaming `.eslintrc.json` file to `.jshintrc`?

[2019-10-04 19:18] ShadixAced commented on #77
Well, that extension seems to work on those parameters. Since there's a lot of extensions in VS Code, it's easy to get lost ahah !

[2019-10-04 19:28] #77 closed

[2019-10-08 10:02] danka199 opened #78 "events.js:167"
events.js:167
      throw er; // Unhandled 'error' event
      ^

Error: spawn F:\Users\danka\AppData\Local\Programs\Microsoft VS Code\Code.exe ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:232:19)
    at onErrorNT (internal/child_process.js:407:16)
    at process._tickCallback (internal/process/next_tick.js:63:19)
Emitted 'error' event at:
    at Process.ChildProces

[2019-10-08 16:34] RMacfarlane commented on #78
@danka199 Can you provide some more details?

- What version of the extension are you using?
- What were you doing prior to seeing this error?
- Can you consistently reproduce this error?

[2019-10-09 22:35] Khobalt commented on #3
I'm using nvm and code doesn't pick up my global jshint, so running npm intall -g jshint didn't resolve this issue for me. So what I did, was head to the settings->Extensions->JSHint configuration and change this:
![image](https://user-images.githubusercontent.com/848683/66525395-33729d00-eaaa-11e9-981e-781fe9992aef.png)

I'm using a Mac, so to find out where my jshint lived I ran:
which jshint

[2019-10-17 22:07] SiddiqTechnologies commented on #73
I usually have to restart my system after 2-3 hours of work I changed to Atom IDE but I love VSCode

Any help is appreciated

[dbaeumer.jshint-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-jshint/files/3741473/dbaeumer.jshint-unresponsive.cpuprofile.txt)

[2019-10-24 13:58] lantonov commented on #3
[code]
'npm' is not recognized as an internal or external command,
operable program or batch file.

[2019-10-28 21:28] RMacfarlane commented on #3
@lantonov Do you have `npm` installed? (https://nodejs.org/en/download/) And is `C:\Program Files\nodejs\` part of your path? (https://stackoverflow.com/questions/33055515/npm-is-not-recognized-as-an-internal-or-external-command-operable-program-or)

[2019-11-01 14:20] NatoBoram opened #79 "Failed to load jshint library."
![image](https://user-images.githubusercontent.com/10495562/68029500-bc39be80-fc8d-11e9-923e-b82fbc1b5b14.png)

I've seen in https://github.com/microsoft/vscode-jshint/issues/50#issuecomment-361024551 that VSCode looks for `jshint` at `$(npm config get prefix)/lib/node_modules`. However, this is not true, according to the above screenshot.

[code]

[2019-11-01 14:21] #71 closed

[2019-11-08 14:21] danka199 commented on #78
Everything happened during installation of the extension of jshint, and I received the same error every time. My vscode was empty during the installation. 
    En martes, 8 de octubre de 2019 18:34:09 CEST, Rachel Macfarlane <notifications@github.com> escribió:

@danka199 Can you provide some more details?

   - What version of the extension are you using?
   - What were you doing prior to seeing

[2019-11-21 10:52] mobimation commented on #29
I did that as well, rather than do a vscode global disabling of jshint
(Code->Preferences->Settings->User extensions->JSHint configuration->JSHint:Enable tick box off)
i surround a render method that use JSX syntax with the `/* jshint ignore:start */`  and `/* jshint ignore:end */` statements.

[2019-12-03 19:12] ubaranouski opened #80 "events.js:177 error"
events.js:177
      throw er; // Unhandled 'error' event
      ^

Error: spawn C:\Program Files\Microsoft VS Code\Code.exe ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)
    at onErrorNT (internal/child_process.js:456:16)
    at processTicksAndRejections (internal/process/task_queues.js:84:9)
Emitted 'error' event at:
    at Process.ChildProcess._handle.onexit

[2020-01-03 23:13] roblourens opened #81 "Avoid using rootPath"
This extension appears to be using rootPath from the LSP. This is a deprecated property that may not work as expected in a multi-root workspace.

See this guide on implementing multi-root support: https://github.com/Microsoft/vscode/wiki/Adopting-Multi-Root-Workspace-APIs#language-client--language-server

https://github.com/microsoft/vscode/issues/69335

[2020-01-26 14:11] Anum-parveiz opened #82 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jshint`
- Extension Version: `0.10.21`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-01-27 19:26] GeorgeGo opened #83 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jshint`
- Extension Version: `0.10.21`
- OS Version: `Darwin x64 19.2.0`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-01-27 19:26] #83 closed

[2020-02-09 12:46] Anum-parveiz opened #84 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jshint`
- Extension Version: `0.10.21`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-02-21 22:52] aliask commented on #62
I had this issue with NVM on a remote SSH workspace. I had installed NVM after starting the VSCode server, so nvm wasn't in the PATH.

By killing the ~/.vscode-server/bin* processes and reconnecting, the PATH got updated and everything worked. Hope this helps someone.

[2020-02-27 17:17] nektro commented on #3
Ran into this as well. Only loads from local install, not global.

[2020-03-14 09:54] jaysalhan opened #85 "Failed to Load jshint library"
Issue Type: <b>Feature Request</b>

The message pops up on my editor many times.Can any one help what do i need to do?

Extension version: 0.10.21
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

[2020-03-21 04:53] #85 closed

[2020-03-21 04:53] jaysalhan commented on #85
I found it by
my self

[2020-03-21 04:59] jaysalhan commented on #62
I faced the similar issue and i resolved it recently.
Uninstall jshint and js lint extensions from vs code. Then install node.js latest version. Then install jslint and jshint with the help of nodejs cmd by typing "npm install -g jshint/jslint".
Once you are done then go to vscode and install jshint and jslint extensions. Reload the vscode.
You are done.

[2020-03-21 04:59] jaysalhan commented on #79
I faced the similar issue and i resolved it recently.
Uninstall jshint and js lint extensions from vs code. Then install node.js latest version. Then install jslint and jshint with the help of nodejs cmd by typing "npm install -g jshint/jslint".
Once you are done then go to vscode and install jshint and jslint extensions. Reload the vscode.
You are done.

[2020-03-21 05:00] jaysalhan commented on #32
I faced the similar issue and i resolved it recently.
Uninstall jshint and js lint extensions from vs code. Then install node.js latest version. Then install jslint and jshint with the help of nodejs cmd by typing "npm install -g jshint/jslint".
Once you are done then go to vscode and install jshint and jslint extensions. Reload the vscode.
You are done.

[2020-03-26 16:36] epmoyer commented on #3
I am having this issue and don't know how to debug it any further.
Running on OSX 10.14.6
- Completely uninstalled node and reinstalled using brew.
- From the command line: node works, npm works,  jshint  installs, and jshint can run/report its version:

[code]
- I've set the path explicitly in settings.json: `"jshint.nodePath": "/usr/local/bin/jshint",`
- I've uninstalled/reinstalled the jshint e

[2020-03-26 19:33] epmoyer commented on #79
I am having this issue and don't know how to debug it any further.
Running on OSX 10.14.6

- Completely uninstalled node and reinstalled using brew.
- From the command line: node works, npm works, jshint installs, and jshint can run/report its version:
[code]
- I've set the path explicitly in settings.json: `"jshint.nodePath": "/usr/local/bin/jshint",`
- I've uninstalled/reinstalled the jshint ext

[2020-03-26 19:38] jaysalhan commented on #79
Bro if you have installed nodejs globally then goto nodejs cmd,type
jshint/jslint -version

If it say could not be located...kindly type npm  install -g jslint/jshint..
For the moment you are doing it..pls uninstall the js hint or lint library
from the vscode.

Once you are done installing libraries externally..only then goto vs code
and install jshint and jslint libraries..

Thanks
Be safe be goo

[2020-03-26 19:40] jaysalhan commented on #79
And where do you try to debug??
Terminal or with any debugger extension?

On Fri, 27 Mar 2020, 01:03 Eric Moyer, <notifications@github.com> wrote:

[2020-03-26 20:16] epmoyer commented on #79
@jaysalhan

jshint/jslint -version

I am not sure what you mean by "goto nodejs cmd,type jshint/jslint -version".  If you mean get the various package versions from the command line, then yes jshint and jslint  are both  installed:

[code]

Or alternatively, using npm:
[code]

and install jshint and jslint libraries.

I have  done  this.  Many times now.  It does not fix the issue.

When I said "d

[2020-03-26 20:53] jaysalhan commented on #79
Okay got ya...and whenever you open up vs code it shows a pop up on the
right bottom of the screen right?

On Fri, 27 Mar 2020, 01:46 Eric Moyer, <notifications@github.com> wrote:

[2020-03-26 20:56] epmoyer commented on #79
@jaysalhan

right bottom of the screen right?

Correct; the same pop-up noted in the beginning of this issue:
Failed to load jshint library. Please install jshint in your workspace folder using 'npm install jshint' or globally using 'npm install -g jshint' and then press Retry.

[2020-03-26 21:28] jaysalhan commented on #79
in the beginning means?Has it stopped popping up?

[2020-03-26 21:31] epmoyer commented on #79
I meant in the beginning of this *Github Issue* (i.e. the screen shot provided by NatoBoram in the first post).
It still pops up every time.

[2020-03-26 23:57] jaysalhan commented on #79
Okay...have you seen the screen shot i sent ?did you try that?

On Fri, 27 Mar 2020, 03:02 Eric Moyer, <notifications@github.com> wrote:

[2020-03-27 00:38] RMacfarlane commented on #79
Sorry I haven't had time to investigate this, I'll be able to do so more next week.

@epmoyer Do you remember if you also installed jshint with `sudo`? My suspicion is that is fails when its installed with elevated privileges. Also, what's the output for `echo $NODE_PATH`? There is a setting for making logging more verbose (jshint.trace.server), but I'm not seeing any additional output from the li

[2020-03-27 18:16] epmoyer commented on #79
Thanks @RMacfarlane!  I'd be happy to help and run any experiments you can think of.

$NODE_PATH was not set.  I tried setting it (in my shell configuration) to the location of node on my machine (and then uninstalling/reinstalling the jshint extension) but it did not fix the problem.

[code]

I am running an alternate shell (fish rather than bash).  I'm not sure if that could  be contributing som

[2020-03-27 18:29] epmoyer commented on #79
@RMacfarlane
Update: I tried switching my default shell back to bash (and uninstalling the jshint extension/closing VSCode/opening VSCode/reinstalling the jshint extension) and the problem persists, so it doesn't appear to be related to the shell.

[2020-03-27 18:39] RMacfarlane commented on #79
Thanks for the updates! I think $NODE_PATH should actually be unset.

For some context on what the extension actually does, it first calls this function to try to get the global node path:
https://github.com/microsoft/vscode-languageserver-node/blob/df65330be576a7c4ed834555b0560f780987872e/server/src/files.ts#L127-L170
which should just be `${npm config get prefix}/lib/node_modules`, and then it r

[2020-03-27 21:17] epmoyer commented on #79
@RMacfarlane

Thanks! It seems likely that the resolve is the issue for me as well.  `npm config get prefix` returns  `/usr/local`, and I can run jshint at `/usr/local/lib/node_modules/jshint/bin/jshint` per the experiment below.

[code]

[2020-04-13 18:47] Supakoa commented on #29
you can disable(workspace). I can do this It's work.
<img width="1676" alt="Screen Shot 2563-04-14 at 01 44 35" src="https://user-images.githubusercontent.com/41123305/79149782-dc031000-7df1-11ea-8891-2692c82ca337.png">

[2020-05-28 13:16] NikhilaPodila opened #86 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jshint`
- Extension Version: `0.10.21`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.45.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-06-08 09:27] VrajMalvi opened #87 "unable to load jshint library"
Issue Type: <b>Bug</b>

i changed again and again setting.json and launch.jason of jshint extension still it shows that unable to load jshind library please help me solve that make jsjint work again i need this extension to work

Extension version: 0.10.21
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18363

<detai

[2020-06-15 09:01] josephcs commented on #62
For people who still have this issue, I tried going the route of adding until the `node_modules` directory and it works.

[code]

[2020-08-26 10:20] axelmm commented on #29
Still not configurable? 4 years!?

Hundreds of "Unclosed regular expression. (E015)" ... I have literally no regexps in the whole project!
"Unrecoverable syntax error. (88% scanned). (E041)"

I'd like to just ignore/disable these/some errors.

Why only Warnings can be optionally ('.jshintrc') ignored? By design? Just enable configurable ignoring for Errors?

There is 'Report Warnings As Errors', m

[2020-08-26 10:20] axelmm commented on #29
Still not configurable? 4 years!?

Hundreds of "Unclosed regular expression. (E015)" ... I have literally no regexps in the whole project!
"Unrecoverable syntax error. (88% scanned). (E041)"

I'd like to just ignore/disable these/some errors.

Why only Warnings can be optionally ('.jshintrc') ignored? By design? Just enable configurable ignoring for Errors?

There is 'Report Warnings As Errors', m

[2020-09-20 02:28] PaleNeutron commented on #62
Still have this problem on MacOS,  I have installed `jshint` globally:
[code]

And set `"jshint.nodePath": "/Users/johnlyu/.nvm/versions/node/v12.18.4/lib/node_modules"`.

The only solution is install `jshint` in workspace.

[2020-12-03 21:14] coolaj86 opened #89 "Where's the installer link?"
This project doesn't have a project URL set and no where in the README does it direct me to where I need to go to install this plugin.

[2020-12-03 21:16] coolaj86 commented on #89
When I google "VSCode JSHint" I get ***this*** repo as well as this landing page:
https://marketplace.visualstudio.com/items?itemName=dbaeumer.jshint

I think that's also the one that is recommended by VSCode itself.

Tt's not clear to me whether or not they are related, but I don't see any option in the VSCode Marketplace that looks like ***this*** repo (i.e. by Microsoft):
https://marketplace.vi

[2020-12-03 21:25] RMacfarlane commented on #89
Hi @coolaj86! I've just updated the "About section" of the repo to link to https://marketplace.visualstudio.com/items?itemName=dbaeumer.jshint

These are indeed the same project, the extension was originally published by a member of the VSCode team a long time ago. I'm not sure what's involved in changing the publisher

[2020-12-03 21:31] #89 closed

[2021-01-18 00:17] brightonyoung opened #90 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jshint`
- Extension Version: `0.11.0`
- OS Version: `Windows_NT x64 10.0.21292`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-01-26 14:48] #90 closed

[2021-01-30 09:49] gjsjohnmurray commented on #81
@RMacfarlane it would be nice to get this resolved so the related VS Code issue has one less popular extension to worry about breaking.

[2021-02-25 09:59] asears opened #91 "Bump ECMAScript esversion to 10"
https://jshint.com/docs/options/ should be verified against package.json, verify default and add 10 to max enum for latest esversion.

[2021-03-02 15:09] atatimelikethis commented on #29
bump, I hear react is popular.

[2021-04-11 21:56] d3mage commented on #29
bump, I didn't know about programming when this issue was opened

[2021-05-03 17:32] dmwelch commented on #87
After installing `jshint` globally, I uninstalled and reinstalled the extension and it cleared this up for me.  YMMV.

[2021-05-04 17:01] lszomoru opened #93 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:45] lszomoru opened #95 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-14 19:07] burke-dev opened #96 "Nullish"
I found a cool way to optimize my functions using the `Nullish coalescing operator (??)` but jshint does not like it. It is something wrong that I have done or is this just not a feature that is currently supported?
![image](https://user-images.githubusercontent.com/40371938/118317436-abdae480-b4bd-11eb-94e9-2b4a10d0ac8f.png)

[2021-05-21 16:46] tim-stack commented on #29
2021, the problem's still not resolved

[2021-07-07 02:40] jeremiah03 commented on #96
Having the same issue. hope this will be fixed soon.
![image](https://user-images.githubusercontent.com/32832516/124692196-b17a0700-df0f-11eb-9e7c-8a3ca27e4ca8.png)

[2021-08-16 10:41] duzun commented on #32
I'm having the same issue on Linux Manjaro using volta.
Can't solve it.

[2021-08-18 02:04] jsoref opened #97 "UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block"
Yes, I don't have a globally installed jshint.

No, I don't plan to install one.
No, I shouldn't get an error `UnhandledPromiseRejectionWarning` just because my system is misshaped.
Yes, I'll file a PR for this.

[code]

[code]

jshint `v0.11.0`

[2021-09-23 11:13] MorganPersson commented on #91
latest esversion is now 11

[2021-10-04 07:27] ADTC commented on #54
Hello @joaomoreno @RMacfarlane could these instructions be added to the `README.md` file please?

[2021-12-02 14:17] kunallade opened #99 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jshint`
- Extension Version: `0.11.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.62.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-01-22 19:25] schiavoni commented on #29
It's 2022! Happy birthday little bug :D

[2022-01-23 13:42] autoantwort opened #100 "jshint rescans file in a loop"
See Video:

https://user-images.githubusercontent.com/41973254/150681316-ba65dc5d-42e7-447d-af46-bf0f2e4b66f1.mov

[2022-02-06 22:19] asears commented on #91
@RMacfarlane I see you have been committing here, it it possible to bump esversion to 10, 11?  Is someone supporting this, or perhaps it should be moved to another owner?

[2022-02-22 09:01] sandeepkokane97 opened #101 "Usage of let and const i.e features available in ES6"
Showing warning for the usage of let and const and other ES6 features like for...of , arrow functions, async functions and etc.

[2022-03-04 16:09] goozak opened #102 "Show deprecated elements in the Problems panel"
It would be nice if deprecated elements could be shown in the Problems panel.

[2022-03-30 22:11] philn5d-ar commented on #29
c'est terrible! Just add a suppress array to config plz!!!

[2022-06-17 07:17] Nurmukhammad1 commented on #29
It's a summer 2022! When are you going to solve this problem?

[2022-06-18 17:00] fatoyinbovictory commented on #29
This problem will most likely never be solved. Best thing you can do is just uninstall jshint and use eslint instead, it's the better linter as long as you're working in react.

[2022-07-26 11:12] 4TSBlackcat opened #103 "Tries to connect to dataserver and crashes"
[Info  - 7:07:18 AM] Connection to server got closed. Server will restart.
c:\Users\4tsbl\.vscode\extensions\dbaeumer.jshint-0.11.0\jshint-server\node_modules\vscode-jsonrpc\lib\messages.js:46
        var _this = _super.call(this, message) || this;
                           ^

ResponseError: Unhandled method jshint/confirmLibraryUsage
    at new ResponseError (c:\Users\4tsbl\.vscode\extensions\db

[2022-08-23 11:09] John-Muriu opened #104 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `jshint`
- Extension Version: `0.11.0`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.70.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-09-08 15:20] microsoft-github-policy-service[bot] opened #106 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-30 11:36] Antonzlo commented on #101
In settings.json:
`"jshint.options": {
    "esversion": 9
    },`

[2022-11-30 13:05] stringfellow commented on #59
A straw-dummy PR for this: https://github.com/microsoft/vscode-jshint/pull/107